
html, body {
  font-size: 15px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

input, textarea, button, select, option, optgroup, fieldset, label {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: currentColor;
}

[class*='flex'] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

[class*='flex'] > * {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 10px;
}

[class*='flex'][class*='-jc-'] {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

[class*='flex'][class*='-jfs-'] {
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

[class*='flex'][class*='-jfe-'] {
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

[class*='flex'][class*='-jsa-'] {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

[class*='flex'][class*='-jsb-'] {
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

[class*='flex'][class*='-ac-'] {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

[class*='flex'][class*='-as-'] {
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

[class*='flex'][class*='-afs-'] {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

[class*='flex'][class*='-afe-'] {
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

[class*='flex'][class*='-nw-'] {
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

[class*='-f10-'] > * {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

[class*='-f01-'] > * {
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}

[class*='-f11-'] > * {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}

[class*='flex'][class*='-l1-'] > * {
  width: calc( 100% - 20px);
  -webkit-flex-basis: calc( 100% - 20px);
      -ms-flex-preferred-size: calc( 100% - 20px);
          flex-basis: calc( 100% - 20px);
}

[class*='flex'][class*='-l2-'] > * {
  width: calc( 50% - 20px);
  -webkit-flex-basis: calc( 50% - 20px);
      -ms-flex-preferred-size: calc( 50% - 20px);
          flex-basis: calc( 50% - 20px);
}

[class*='flex'][class*='-l3-'] > * {
  width: calc( 33.33% - 20px);
  -webkit-flex-basis: calc( 33.33% - 20px);
      -ms-flex-preferred-size: calc( 33.33% - 20px);
          flex-basis: calc( 33.33% - 20px);
}

[class*='flex'][class*='-l4-'] > * {
  width: calc( 25% - 20px);
  -webkit-flex-basis: calc( 25% - 20px);
      -ms-flex-preferred-size: calc( 25% - 20px);
          flex-basis: calc( 25% - 20px);
}

[class*='flex'][class*='-l5-'] > * {
  width: calc( 20% - 20px);
  -webkit-flex-basis: calc( 20% - 20px);
      -ms-flex-preferred-size: calc( 20% - 20px);
          flex-basis: calc( 20% - 20px);
}

[class*='flex'][class*='-l6-'] > * {
  width: calc( 16.66% - 20px);
  -webkit-flex-basis: calc( 16.66% - 20px);
      -ms-flex-preferred-size: calc( 16.66% - 20px);
          flex-basis: calc( 16.66% - 20px);
}

@media screen and (max-width: 992px) {
  [class*='flex'][class*='-m1-'] > * {
    width: calc( 100% - 20px);
    -webkit-flex-basis: calc( 100% - 20px);
        -ms-flex-preferred-size: calc( 100% - 20px);
            flex-basis: calc( 100% - 20px);
  }
  [class*='flex'][class*='-m2-'] > * {
    width: calc( 50% - 20px);
    -webkit-flex-basis: calc( 50% - 20px);
        -ms-flex-preferred-size: calc( 50% - 20px);
            flex-basis: calc( 50% - 20px);
  }
  [class*='flex'][class*='-m3-'] > * {
    width: calc( 33.33% - 20px);
    -webkit-flex-basis: calc( 33.33% - 20px);
        -ms-flex-preferred-size: calc( 33.33% - 20px);
            flex-basis: calc( 33.33% - 20px);
  }
  [class*='flex'][class*='-m4-'] > * {
    width: calc( 25% - 20px);
    -webkit-flex-basis: calc( 25% - 20px);
        -ms-flex-preferred-size: calc( 25% - 20px);
            flex-basis: calc( 25% - 20px);
  }
}

@media screen and (max-width: 768px) {
  [class*='flex'][class*='-s1-'] > * {
    width: calc( 100% - 20px);
    -webkit-flex-basis: calc( 100% - 20px);
        -ms-flex-preferred-size: calc( 100% - 20px);
            flex-basis: calc( 100% - 20px);
  }
  [class*='flex'][class*='-s2-'] > * {
    width: calc( 50% - 20px);
    -webkit-flex-basis: calc( 50% - 20px);
        -ms-flex-preferred-size: calc( 50% - 20px);
            flex-basis: calc( 50% - 20px);
  }
  [class*='flex'][class*='-s3-'] > * {
    width: calc( 33.33% - 20px);
    -webkit-flex-basis: calc( 33.33% - 20px);
        -ms-flex-preferred-size: calc( 33.33% - 20px);
            flex-basis: calc( 33.33% - 20px);
  }
}

@media screen and (max-width: 320px) {
  [class*='flex'][class*='-xs1-'] > * {
    width: calc( 100% - 20px);
    -webkit-flex-basis: calc( 100% - 20px);
        -ms-flex-preferred-size: calc( 100% - 20px);
            flex-basis: calc( 100% - 20px);
  }
  [class*='flex'][class*='-xs2-'] > * {
    width: calc( 50% - 20px);
    -webkit-flex-basis: calc( 50% - 20px);
        -ms-flex-preferred-size: calc( 50% - 20px);
            flex-basis: calc( 50% - 20px);
  }
}

section {
  position: relative;
  width: 100%;
  height: auto;
  min-height: calc( 100vh - 60px);
  overflow: hidden;
}

section .content {
  width: 100%;
  max-width: 1180px;
  padding: 8% 5%;
}

[class*='img-bg'] {
  background-position: center;
  background-repeat: no-repeat;
}

.img-bg-cover {
  background-size: cover;
}

.img-bg-contain {
  background-size: contain;
}

.pc {
  display: block;
}

.m {
  display: none;
}

@media screen and (max-width: 992px) {
  .pc {
    display: none;
  }
  .m {
    display: block;
  }
}

[class*='btn'] {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
}

.left {
  position: fixed;
  left: 0;
  top: 0;
  width: 50%;
  height: 100vh;
}

.left .img-bg-cover {
  width: 100%;
  height: calc( 100% - 100px );
}

.left .left-text {
  height: 100px;
  width: 100%;
  background-color: #89D3D5;
  padding: 15px;
}

.left .left-text h1 {
  color: #fff;
  font-size: 35px;
  margin-top: -45px;
  margin-bottom: 10px;
  font-weight: bold;
  text-shadow: 0 3px 5px rgba(0, 0, 0, .2);
}

.left .left-text h2 {
  font-size: 15px;
  color: #24282F;
}

.right {
  width: 50%;
  margin: 0 0 0 auto;
  min-height: 100vh;
  padding: 20px;
}

.content {
  width: 100%;
  position: relative;
  margin-top: 50px;
}

.project {
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 20px;
  box-shadow: 0 5px 43px 0 rgba(0, 0, 0, .1);
}

.project .img-bg-cover {
  position: relative;
  width: 100%;
  padding-top: 50%;
}

.project .text {
  margin-top: 10px;
  color: #24282F;
  text-align: left;
}

.more-btn {
  width: 100px;
  line-height: 25px;
  font-size: 15px;
  margin: 0 0 0 auto;
  color: rgba(0, 0, 0, 1);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 1);
  margin-top: 20px;
  opacity: .4;
  transition: 0.3s ease;
}

.more-btn:hover {
  opacity: 1;
  background-color: #000;
  color: #fff;
}

.project .text .title {
  font-size: 23px;
  margin-bottom: 5px;
}

.project .text .description {
  color: #69707D;
}

#nav {
  position: fixed;
  width: 50%;
  right: 0;
  padding: 0 20px;
  top: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #fff;
  height: 50px;
  align-items: center;
  z-index: 3;
}

#nav a {
  opacity: 0.5;
  display: block;
  width: 80px;
  flex: 0 0 80px;
  text-align: center;
  line-height: 30px;
  margin-right: 5px;
}

#nav a.active {
  box-shadow: 0 2px 0 0 #89D3D5;
  opacity: 1;
}
